body
{
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    background-color: #e9e9e9;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;

}

#wrapper
{
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding:  10px;
    border: 5px solid #dedede;
}

#banner
{
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #dedede;
    height: 200px;
    text-align: center;
}

#content_area
{
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
}

#sidebar
{
    float: right;
    width: 250px;
    height: 350px;
    margin: 20px 10px;
    padding: 10px;
    border: 2px solid #E3E3E3;
    color: black;
}

footer
{
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: white;
    background: dimgrey;
}

#navigation
{
    height: 60px;
    border: 3px solid #E3E3E3;
    margin-top: 20px;
    text-shadow: 0.1em 0.1em #333;
    background-color: dimgrey;
}

#nav
{
    list-style: none;
}

#nav ul 
{
    margin: 0;
    padding: 0;
    width: auto;
    display: none;
}

#nav li
{
    font-size: 24px;
    float: left;
    position: relative;
    width: 140px;
    height: 50px;
    text-align: center;
}

#nav a:link, nav a:active, nav a:visited
{
    display: block;
    color: #fff;
    text-decoration: none;
}

#nav a:hover 
{
    color: darkgrey;
}

.imgLeft
{
    float: left;
    width: 240px;
    height: 150px;
    margin: 0px 10px 10px 0px;
    padding: 10px;
}

.imgRight
{
    float: right;
    width: 200px;
    height: 250px;
    margin: 0px 0px 10px 10px;
    padding: 10px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: left;
    width: 200px;
    line-height: 26px;
    margin-bottom: 10px;
}

label2 {
    width: 200px;
    line-height: 50px;
    margin-bottom: 20px;
}

  
input {
    height: 30px;
    flex: 0 0 200px;
    margin-left: 10px;
  }